.spinner-wrapp{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app{
    position: relative;
    height: 100vh;
}

.content{
    margin-top: 30px;
    font-family: sans-serif;
    display: flex;
    width: auto;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    padding: 25px;
    background: rgba(255,255,255,0.98);
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

.content h1 {
    margin: 0;
    color: #9DD1FF;
    font-size: 70px;
}

.main-info{
    display: flex;
    justify-content: flex-start;
}


.main-info h1:first-child{
    font-family: 'Comfortaa',
    cursive;
    margin-right: 30px;
}
.main-info h1:last-child {
    font-family: 'Comfortaa',
    sans-serif;
    margin-right: 10px;
    color: #637B96;
}

.secondary-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.secondary-info h2{
    margin-right: 30px;
}
.secondary-info img{
    height: 40px; 
}

h2{
    font-family: 'Comfortaa',
    sans-serif;
    text-transform: capitalize;
    color: #627A97;
}

.another-info{
    margin-top: 10px;
}
.another{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.another h2{
    text-transform: none;
    margin: 0;
}
.another h3{
    padding: 0;
    margin: 0;
    margin-right: 10px;
    font-family: 'Comfortaa';
    color:#9DD1FF;
}

