header{
    padding: 0 25px;
    height: 60px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 
font-family: 'Abel',
sans-serif;
font-family: 'Varela Round',
sans-serif;
font-family: 'Comfortaa',
cursive;
font-family: 'Baloo Chettan',
cursive;
font-family: 'Text Me One',
sans-serif; */

header input{
    border-radius: none;
    font-family: 'Comfortaa',
    sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    height: 24px;
    width: 250px;
    padding: 0 10px;
    transition: .5s ease;
}
header input:focus{
    border-bottom: 2px solid #627A97;
}

.logo-wrapp {
    color: #627A97;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo-wrapp object{
    height: 40px;
    margin-right: 10px;
}